<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Dropbox-like Service</title>
</head>
<body>
<h1>Simple Dropbox-like Service</h1>

<div id="uploadSection">
    <h2>Upload File</h2>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Upload</button>
</div>

<div id="fileListSection">
    <h2>File List</h2>
    <ul id="fileList"></ul>
    <button onclick="listFiles()">List Files</button>
</div>

<!--<div id="fileActionSection">-->
<!--    <h2>File Actions</h2>-->
<!--    <ul id="actionList"></ul>-->
<!--</div>-->

<script th:src="@{/script.js}" type="text/javascript"></script>
</body>
</html>
